.App-header{
justify-content: flex-start;



}

.nav-layout{
display: flex;
flex-direction: column;




}

.movie-layout { display: flex; flex-direction: row; width: 100%; justify-content: space-between; }

.movie-sidebar{
display: flex;
flex-direction: column;


};

.movie-content { flex: 2; }

.movie-list-card{
display: grid;

grid-row-start: 1;
grid-row-end: 4;

}
.movie-list { overflow-y: scroll; max-height: 80vh; }
.form-h1{padding-right: 50px;}
.movie-list-card { border: 1px solid white; margin: 10px; padding: 20px; }